.header{
    margin: auto;
    padding: auto;
    width: fit-content;
    text-align: center;
    background-color: aquamarine;
}
.identitas{
    margin: auto;
    width: fit-content;
    background-color: rgb(43, 239, 213);
}
.komentar{
    margin: auto;
    width: fit-content;
    background-color: aquamarine;
}
.daftar-komentar{
    margin: auto;
    padding: auto;
    width: fit-content;
    text-align: center;
    background-color: rgb(63, 241, 217);
}